
#about-jumbotron {
    display: flex;
    align-items: center;
    background-image: url('./images/roofwork.jpg');
    background-size: cover;
    color: #ffffff;
    height: 380px;
    text-shadow: 1px 1px 1px #000000;
    position: relative;
    margin-top: 5%;
}

/* Main About Section */

#main-section {
    margin-top: -3%;
    background-color: #f3f1f1;
}

#main-inner {
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 0 5%;
}

.about-content {
    margin-left: 4%;
}

#main-section h3 {
    font-weight: 500;
    font-size: 28px;
    margin-top: 0;
}

#main-section p {
    font-size: 16px;
    margin-top: 5%;
}

/* Coverage Banner */

#coverage-banner {
    margin-top: 1.5%;
    margin-bottom: 1%;
    background-color: #fff;
}

#coverage-banner iframe {
    margin-left: 3%;
}

#coverage-banner p {
    margin-top: 7%;
    font-size: 16px;
    padding-right: 5%;
}

.contact-details {
    margin-top: 10%;
}

@media only screen and (min-width: 320px) and (max-width: 600px), (orientation: portrait) {
    #about-jumbotron {
        margin-top: 12%;
    }
    #main-section {
        margin-top: -3%;
    }
    #main-inner {
        margin-top: 8%;
        margin-bottom: 8%;
        padding: 0;
        text-align: center;
    }
    #main-section h3 {
        font-size: 54px;
        margin-top: 7%;
    }
    #main-section p {
        font-size: 40px;
        margin-top: 7%;
        line-height: 1.3;
    }

    /* Coverage Banner */

    #coverage-banner {
        margin-top: 5%;
        margin-bottom: 2%;
        text-align: center;
    }
    #coverage-banner iframe {
        margin-left: 0;
        float: center;
    }
    #coverage-banner h3 {
        font-size: 54px;
        margin-top: 4%;
    }
    #coverage-banner p {
        margin-top: 7%;
        font-size: 40px;
        padding: 0 2%;
    }
    .contact-details {
        margin-top: 10%;
    }
    .contact-details h4 {
        font-size: 40px;
    }
}